{{define "partials/search_suggest.html"}}
{{if .Suggestions}}
<div class="suggest-list">
  {{range .Suggestions}}
  <button type="button" class="suggest-item"
          {{if .CategoryColor}}style="color:{{.CategoryColor}}"{{end}}
          data-tag-name="{{.Name}}"
          onclick="applySearchSuggest(this.dataset.tagName)">
    <span class="suggest-name">{{.Name}}</span>
    {{if .Description}}<span class="suggest-description">{{.Description}}</span>{{end}}
    {{if not .Category}}<span class="suggest-count">{{.UsageCount}}</span>{{end}}
  </button>
  {{end}}
</div>
{{end}}
{{end}}
