<!DOCTYPE html>
<html lang="{{.I18nLang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ T "login.title" }}{{.BooruName}}</title>
  <link rel="icon" type="image/png" href="{{.BooruFavicon}}">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div class="login-wrap">
    <div class="login-box">
      <h1>{{.BooruName}}</h1>
      {{if .Error}}
        <div class="login-error">{{.Error}}</div>
      {{end}}
      {{if not .AuthDisabled}}
      <form method="POST" action="/login">
        <input type="hidden" name="_csrf" value="{{.CSRFToken}}">
        <input type="password" name="password" placeholder="{{ T "login.password" }}" autofocus>
        <button type="submit">{{ T "login.button" }}</button>
      </form>
      {{else}}
      <p class="login-disabled">{{ T "login.disabled" }}</p>
      {{end}}
    </div>
  </div>
</body>
</html>
